<div class="footer__arrow">
    <a class="footer__arrow--circle" href="#header" title="button">
        <img class="footer__arrow--img" src="./assets/images/ico-arrow.svg" title="menu" alt="menu">
    </a>
</div>
<footer class="footer-background">
    <section class="footer">
        <nav class="container">
            <ul class="footer__links">
                <li><a href="https://adalab.es" class="footer__links--item">Articles</a></li>
                <li><a href="https://adalab.es" class="footer__links--item">Books</a></li>
                <li><a href="https://adalab.es" class="footer__links--item">Events</a></li>
                <li><a href="https://adalab.es" class="footer__links--item">Reasons</a></li>
                <li><a href="https://adalab.es" class="footer__links--item">Tips</a></li>
            </ul>
        </nav>
        <nav class="container">
            <ul class="footer__links">
                <li><a href="https://adalab.es" class="footer__links--item">Twitter</a></li>
                <li><a href="https://adalab.es" class="footer__links--item">Instagram</a></li>
                <li><a href="https://adalab.es" class="footer__links--item">Mastodon.social</a></li>
            </ul>
        </nav>
        <section class="footer__copy container">
            <p class="footer__copy--item">&copy;2021</p>
            <p class="footer__copy--item">we &#129505 components</p>
        </section>
    </section>
</footer>