<header id="header" class="hero">
    <nav class="menu">
        <a href="https://adalab.es"><img class="menu__icon" src="./assets/images/ico-menu.svg" title="Menú"
                alt="Menú"></a>
    </nav>
    <h1 class="hero__title">anonymous proxy</h1>
    <p class="hero__text">in hac habitasse platea dictumst</p>
    <a class="scroll-down-button" href="#reasons__title"> <img src="./assets/images/ico-scroll-down.svg"
            title="Ir a 3 Reasons to purchase" alt="Ir a 3 Reasons to purchase"></a>

</header>