<main>
    <section class="looking">
        <small class="looking__tips">Insomnia tips</small>
        <h2 class="looking__title">Looking through a window</h2>
        <p class="looking__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam
            nec lectus. Vivamus
            semper sodales rutrum.</p>
        <div class="looking__button">
            <a class="go-button" href="#">go</a>
        </div>
    </section>


    <section class="reasons">
        <h2 class="reasons__title">3 reasons to purchase</h2>
        <section class="reasons-section">
            <article class="reasons-section__container">
                <h3 class="reasons-section__container--title">Ut sed metus</h3>
                <p class="reasons-section__container--text">Lorem ipsum dolor sit amet, consecteur</p>
            </article>

            <article class="reasons-section__container">
                <h3 class="reasons-section__container--title">Curabitur ac erat</h3>
                <p class="reasons-section__container--text">Mauris mattis urna quis lorem molestie</p>
            </article>

            <article class="reasons-section__container">
                <h3 class="reasons-section__container--title">Morbi dictum</h3>
                <p class="reasons-section__container--text">Aliquam in dolor et dolor tincidunt</p>
            </article>

        </section>
        <a href="https://adalab.es/" class="reasons-button">More reasons</a>

    </section>







</main>