<main>
    <section class="looking">
        <small class="looking__tips">Insomnia tips</small>
        <h2 class="looking__title">Looking through a window</h2>
        <p class="looking__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam
            nec lectus. Vivamus
            semper sodales rutrum.</p>
        <div class="looking__button">
            <a class="go-button" href="https://adalab.es" title="Ir a Adalab" alt="Ir a Adalab">go</a>
        </div>
    </section>


    <section class="reasons">
        <h2 id="reasons__title" class="reasons__title">3 reasons to purchase</h2>
        <section class="reasons-section">
            <article class="reasons-section__container">
                <h3 class="reasons-section__container--title">Ut sed metus</h3>
                <p class="reasons-section__container--text">Lorem ipsum dolor sit amet, consecteur</p>
            </article>

            <article class="reasons-section__container">
                <h3 class="reasons-section__container--title">Curabitur ac erat</h3>
                <p class="reasons-section__container--text">Mauris mattis urna quis lorem molestie</p>
            </article>

            <article class="reasons-section__container">
                <h3 class="reasons-section__container--title">Morbi dictum</h3>
                <p class="reasons-section__container--text">Aliquam in dolor et dolor tincidunt</p>
            </article>

        </section>
        <a class="reasons__button" href="https://adalab.es/">More reasons</a>

    </section>

<section class="special">    
    <h1 class="special__title">Special offer</h1>
    <h2 class="special__subtittle">"20% discount</h2>
    <p class="special__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi amet tenetur nesciunt voluptas, illo explicabo quaerat mollitia repellat maiores, similique dolorum nostrum? Nemo dolor atque dolores harum reprehenderit nisi mollitia!</p>
</section>

</main>