$title-font: 'Roboto Slab', serif;
$text-font: 'Roboto', sans-serif;
$color-tips: #8ccbea;
$secundary-text: #4a4a4a;
$primary-text: black;
$title-text: white;
$color-reasons: #eff9ff;
$color-button:#f26002;